body, :root {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.main-container {
    height: 100%;
    width: 100%;
}

.board.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.my-board, .com-board {
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
}



.square {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
}

.ship {
    background-color: rgb(0, 4, 128);
}

.square:hover {
    background-color: grey;
}

.square.hit {
    background-color: red;
}

.square.miss {
    background-color: black;
}

/* In your CSS file or <style> block */
.com-board .square.disabled {
    pointer-events: none; /* Prevents all mouse/touch events */
    opacity: 0.8; /* Optional: Visually indicate it's disabled */
    cursor: not-allowed; /* Optional: Change cursor */
}

.done-disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.square.done-disabled {
    pointer-events: none; /* Prevents all mouse/touch events */
    opacity: 0.8; /* Optional: Visually indicate it's disabled */
    cursor: not-allowed; /* Optional: Change cursor */
}

.mock-ship.ship-disabled {
    pointer-events: none; /* Prevents all mouse/touch events */
    background-color: grey;
    cursor: not-allowed; /* Optional: Change cursor */
}


.ship-container {
    width: 6rem;
    height: 4rem;
    padding: 3rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mock-ship {
    display: flex;
    justify-content: center;
    background-color: blue;

}

.mock-ship:hover {
    transform: translateY(-3px);
    background-color: rgba(0, 0, 255, 0.638);
    box-shadow: 4px 6px 12px 3px rgb(0, 0, 0, 0.20);


}

.ship-piece {
    border: 1px solid black;
    width: 2rem;
    height: 2rem;    

}

.selected-ship {
    background-color: rgb(0, 110, 255);
    box-shadow: 4px 6px 12px 3px rgb(0, 0, 0, 0.20);
    transform: translateY(-3px);
}
