body, :root {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-size: 12px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    font-size: 8rem;
    background-color: rgba(0, 0, 0, 0.624);
    color: white;
    transform: translateY(-10rem);
    gap: 3rem;
}

button.button {
    background-color: rgb(85, 85, 255);
    color: white;
    border-radius: 3rem;
    font-size: 3rem;
    padding: 2rem;
}

button.button:hover {
    background-color: rgb(0, 208, 0);
    color: rgb(185, 62, 252);
    transform: translateY(-0.5rem);
}

.start.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/battleship.png');
    background-size: cover;

}

.game.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('./img/open-ocean_hero.png');
    background-size: cover;
}

.game .title {
    font-size: 4rem;
    color: rgb(255, 225, 0);
    font-weight: 700;
    margin-left: 4rem;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.15);
}

.board.container {
    width: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 2fr 2fr;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
}

.side-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    gap: 2rem;
}

.game button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 5px 5px rgb(0, 0, 0, 0.15);
    border: 1px solid white;    
    color: white;
    font-size: 1.5rem;
}

.game button:hover {
    transform: translateY(-0.5rem);
    box-shadow: 6px 8px 8px 10px rgb(0, 0, 0, 0.15);
    color: rgb(255, 225, 0);
    border: 2px solid rgb(255, 225, 0);

}

.reset-game {
    background-color: rgba(190, 0, 0, 0.662);
}

.ready {
    background-color: rgba(0, 179, 0, 0.689);
}

/* .button-box {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
} */

.ship-dock {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.popUp {
    background-color: rgba(128, 0, 128, 0.825);
    color: white;
    font-size: 2rem;
    border-radius: 3rem;
}

.dir-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.direction.label {
    font-weight: 700;
}

.createButton {
    background-color: white;
    color: purple;
    border: purple;
}

.createButton:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.706);
    border: white;
}

.message-board {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    text-align: center;
    font-size: 3rem;
    color: red;
    background-color: rgba(255, 255, 255, 0.516);
    padding: 1rem;
    border-radius: 2rem;
}

.my-board {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.com-board {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.my-board, .com-board {
    border: 1px solid rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 10%;
}



.square {
    width: 10%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
}

.ship {
    background-color: rgb(130, 130, 130);
}

.square:hover {
    background-color: grey;
}

.square.hit {
    background-color: yellow;
}

.square.miss {
    background-color: rgba(0, 0, 0, 0.833);
}

/* In your CSS file or <style> block */
.com-board .square.disabled {
    pointer-events: none; /* Prevents all mouse/touch events */
    opacity: 0.8; /* Optional: Visually indicate it's disabled */
    cursor: not-allowed; /* Optional: Change cursor */
}

.square.place-disabled { 
    pointer-events: none;
    cursor: not-allowed;
}
.done-disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.square.done-disabled {
    pointer-events: none; /* Prevents all mouse/touch events */
    opacity: 0.8; /* Optional: Visually indicate it's disabled */
    cursor: not-allowed; /* Optional: Change cursor */
}

.mock-ship.ship-disabled {
    pointer-events: none; /* Prevents all mouse/touch events */
    background-color: rgb(0, 0, 0);
    cursor: not-allowed; /* Optional: Change cursor */
}


.ship-container {
    width: 6rem;
    height: 4rem;
    padding: 3rem;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

.mock-ship {
    display: flex;
    justify-content: center;
    background-color: rgb(137, 137, 137);

}

.mock-ship:hover {
    transform: translateY(-3px);
    background-color: rgba(137, 137, 137, 0.551);
    box-shadow: 4px 6px 12px 3px rgb(0, 0, 0, 0.20);


}

.ship-piece {
    border: 1px solid rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;    

}

.selected-ship {
    background-color: rgb(255, 238, 0);
    box-shadow: 4px 6px 12px 3px rgb(0, 0, 0, 0.20);
    transform: translateY(-3px);
    border: 1px solid black;
}

.square.sunk {
    background-color: red;
}

.error {
    font-size: 1.5rem;
}


